<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>The Clown of Waterloo</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">The Clown of Waterloo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/meals">Meals</a></li>
                        <li class="nav-item"><a class="nav-link" href="/drinks">drinks</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://images.pexels.com/photos/1554654/pexels-photo-1554654.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')">
            <div class="text-center my-5">
                
                <h1 class="text-white fs-3 fw-bolder">The Clown of Waterloo</h1>
                <p class="text-white-50 mb-0">Est. 1850</p>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Our History</h2>
                        <p class="lead">Our beautiful pub has is located on the Oxford Street, London. The Clown of Waterloo has been part of the Smith family eversince it was founded in 1850. We serve a wide range of meals and drinks prepared by our finest cooks and bartenders.</p>
                        <p class="mb-0">Here at The Clown of Waterloo we love dogs and are always happy to have them around and have plenty of water bowls around.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('https://images.pexels.com/photos/1296543/pexels-photo-1296543.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Christmas Season</h2>
                        <p class="lead">Join us to celebrate the festive season and all the fun & frivolity that goes along with it. Epic office parties, cosy family suppers, seasonal cocktails, and an extra special Christmas Day.</p>
                        <p class="mb-0">Christmas here is something special. We want you to have a memorable yuletide so whatever it is you’re looking for, we can help. Whether it’s relaxing and warming your cockles in front of one of our open fires or an intimate dinner with family and friends we’ve got menu’s to suit all needs and if there is something special that you would like then give us a call or pop in to see us. We will do what we can to make your party extra special.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; The Clown of Waterloo 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
